<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Toasty Finance">
    <meta name="author" content="toastyteam">
    <title>Toasty Finance</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="static/cover.css" rel="stylesheet">
  </head>
  <body class="h-100 text-center">
    <div class="container h-100 p-3 mx-auto flex-column">
      <header class="mb-auto"></header>

      <main class="mt-3">
        <div class="row">
          <div class="offset-md-4 col-md-4 col-sm-12">
          </div>

          <div class="col-md-4 col-sm-12">
            <a href="#" class="btn text-white bg-purple float-r" id='wallet'>👛 Connect wallet</a>
          </div>
        </div>

        <br><br><br>

        <div class="alert alert-warning u-hide" id='network-alert' role="alert">
          Wrong network, please try Binance Smart Chain!
        </div>

        <div class="loading">
          <img src="static/loading.gif" />
        </div>

        <div class="content u-hide">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="card bg-light-purple text-black h-100" >
                <div class="card-body">
                  <h5 class="card-title">Deposit TOAST</h5>
                  <small>Balance: <span id='toast-balance'>0.0000</span> TOAST</small>
                  <div class="input-group mb-3" style="width: 50%; margin: auto;">
                    <input type="number" class="form-control" placeholder="Toast amount" id='deposit-input'>
                    <button class="btn btn-outline-purple" type="button" id="deposit-max">Max</button>
                  </div>

                  <button type="button" id='deposit' style="display:none" class="btn bg-purple text-white">💰 Stake Toast</button>
                  <button type="button" id='approve' style="display:none" class="btn bg-purple text-white">👍 Approve Toast</button>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="card bg-light-purple text-black h-100" >
                <div class="card-body">
                  <h5 class="card-title">Withdraw TOAST</h5>
                  <small>Staked TOAST: <span id='toast-in-account'>0.0000</span> TOAST</small>
                  <div class="input-group mb-3" style="width: 50%; margin: auto;">
                    <input type="number" class="form-control" placeholder="Toast amount" id='withdraw-input'>
                    <button class="btn btn-outline-purple" type="button" id="withdraw-max">Max</button>
                  </div>

                  <button type="button" id='withdraw' style="display:none" class="btn bg-purple text-white">💰 Unstake Toast</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-md-10 offset-md-1 col-sm-12">
              <div class="card bg-light-purple text-black" >
                <div class="card-body">
                  <h5 class="card-title">Buy TOAST</h5>
                  <p class="card-text">We give away one node per day to accounts that tweet about us!</p>
                  <a class="btn text-white bg-purple" target="_blank" href="">
                    Buy TOAST on PancakeSwap
                  </a>
                </div>
              </div>
            </div>
          </div>

          <br><br><br>
        </main>

        <br><br><br><br>

        <footer class="footer">
          <small>
            <a href="" target="_blank" class="text-black no-decor">Twitter</a> |
            <a href="" target="_blank" class="text-black no-decor">Discord</a> |
            <a href="" target="_blank" class="text-black no-decor">Docs</a> |
            <a href="" target="_blank" class="text-black no-decor">Contracts</a>
          </small>
        </footer>
        <br>
      </div>
    </div>

    <!-- Tx alert Modal -->
    <div class="modal" id="tx-alert" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Transaction pending</h5>
          </div>
          <div class="modal-body">
            <p id='tx-message'></p>
            <a id='tx-link' href="" target="_blank">View on BSC Scan</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary text-white" data-dismiss="modal" onclick="window.location.reload();">Close</button>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="scripts/web3/dist/web3.min.js"></script>
  <script src="scripts/truffle-contract/dist/truffle-contract.min.js"></script>
  <script src="static/js/main.js"></script>
</html>
