<html lang="en">
   <input type="hidden" id="__yoroi_connector_api_injected_type" value="prod">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
      <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@700&amp;family=Inter:wght@500;600;700&amp;display=swap" rel="stylesheet">
      <title>ToastyFinance</title>
      <link href="static/style/style.css" rel="stylesheet">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-VS962R8QF9"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-VS962R8QF9');
      </script>
   </head>
   <body class="dark">
      <header>
         <nav class="flex between">
           <a href="/" class="logo">
             <img src="static/img/logo.svg" alt="">
             <img src="static/img/logo-light.svg" alt="">
           </a>
           <!-- <a href="/app" class="base2 btn sm full">Launch App</a> -->
         </nav>
         <main>
            <div class="content">
               <p class="top base1 depth">$TOAST isn't available for purchase yet. Join our Discord to get early access.</p>
               <h1>Reimagining passive<br>income forever</h1>
               <p class="base1">
                Get your bag of $TOAST and stake it in our app for a 1% APR daily paid by the second!
               </p>
               <div class="btn-group flex">
                 <a href="#" class="btn full base1">Coming soon!</a>
                 <a href="https://toasty-fin.gitbook.io/toasty-finance/" target="_blank" class="btn outline base1">Learn More</a>
               </div>
            </div>
            <div class="images">
               <img class="main" src="static/img/header-boy.svg" alt=""> <img src="static/img/bread-noblur.svg" alt=""> <img src="static/img/bread-almostblur.png" alt=""> <img src="static/img/bread-blurred.png" alt=""> <img src="static/img/header-boy-shadow.svg" alt="">
               <div class="linear-circle"></div>
               <div class="linear-circle"></div>
            </div>
         </main>
         <div class="linear-circle"></div>
      </header>
      <section class="result flex between">
         <article>
            <p class="base1">TOAST - Launch Price</p>
            <h2>$0.01</h2>
         </article>
         <article>
            <p class="base1">Circulating supply</p>
            <h2>< $1M</h2>
         </article>
         <article>
            <p class="base1">Fixed APY</p>
            <h2>1%/day</h2>
         </article>
         <article>
            <p class="base1">Community members</p>
            <h2>1,000+</h2>
         </article>
      </section>
      <section class="launch flex between">
         <div class="images flex column"><img src="static/img/toast.svg" alt="" class="main"> <img src="static/img/toast-shadow.svg" alt=""> <img src="static/img/toasty-bread-1.svg" alt=""> <img src="static/img/toasty-bread-1.svg" alt=""></div>
         <div class="content">
            <h2>Your TOAST is almost ready!</h2>
            <p class="body2">
              We're working on the final touches of our app and prepping our launch with a lot of care.
            </p>
            <div class="depth">
               <div class="top flex">
                  <h1 class="title">Launch day</h1>
                  <p class="caption2">May 30th at 1 PM GMT</p>
               </div>
               <div class="counter">
                  <article>
                     <h3 id='days'></h3>
                     <p class="caption2">days</p>
                  </article>
                  <article>
                     <h3 id='hours'></h3>
                     <p class="caption2">hours</p>
                  </article>
                  <article>
                     <h3 id='minutes'></h3>
                     <p class="caption2">minutes</p>
                  </article>
                  <article>
                     <h3 id='seconds'></h3>
                     <p class="caption2">seconds</p>
                  </article>
               </div>
               <div class="bottom">
                  <p class="base2">Secure your whitelist slot</p>
                  <a href="https://discord.gg/BdxTxuZqds" target="_blank" class="btn base1 flex full">
                     <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2620_21933)">
                           <path d="M8.1904 8.39C7.91177 8.41292 7.65194 8.5398 7.46253 8.74544C7.27312 8.95107 7.16797 9.22042 7.16797 9.5C7.16797 9.77958 7.27312 10.0489 7.46253 10.2546C7.65194 10.4602 7.91177 10.5871 8.1904 10.61C8.3303 10.6042 8.46768 10.5709 8.59469 10.512C8.7217 10.453 8.83584 10.3696 8.93058 10.2665C9.02532 10.1634 9.0988 10.0426 9.14681 9.91112C9.19483 9.77959 9.21644 9.63989 9.2104 9.5C9.21728 9.35992 9.19625 9.21986 9.14855 9.08797C9.10084 8.95608 9.02741 8.83498 8.93251 8.73171C8.83761 8.62844 8.72314 8.54505 8.59574 8.48639C8.46835 8.42773 8.33057 8.39497 8.1904 8.39ZM11.8404 8.39C11.6169 8.37112 11.393 8.42015 11.1978 8.53067C11.0027 8.64118 10.8454 8.80804 10.7467 9.0094C10.6479 9.21075 10.6123 9.43723 10.6444 9.65919C10.6765 9.88115 10.7748 10.0883 10.9266 10.2534C11.0783 10.4185 11.2764 10.534 11.4948 10.5847C11.7133 10.6354 11.942 10.619 12.1509 10.5376C12.3599 10.4562 12.5394 10.3136 12.666 10.1284C12.7926 9.9433 12.8604 9.72427 12.8604 9.5C12.8664 9.36011 12.8448 9.22041 12.7968 9.08888C12.7488 8.95735 12.6753 8.83658 12.5806 8.73349C12.4858 8.63039 12.3717 8.54698 12.2447 8.48804C12.1177 8.4291 11.9803 8.39579 11.8404 8.39V8.39Z" fill="white"></path>
                           <path d="M16.7 0H3.30001C3.03014 0.000655811 2.76304 0.0544596 2.51397 0.158339C2.2649 0.262219 2.03872 0.41414 1.84836 0.605429C1.658 0.796718 1.50719 1.02363 1.40452 1.2732C1.30185 1.52278 1.24935 1.79013 1.25001 2.06V15.58C1.24935 15.8499 1.30185 16.1172 1.40452 16.3668C1.50719 16.6164 1.658 16.8433 1.84836 17.0346C2.03872 17.2259 2.2649 17.3778 2.51397 17.4817C2.76304 17.5855 3.03014 17.6393 3.30001 17.64H14.64L14.11 15.79L15.39 16.98L16.6 18.105L18.75 20V2.06C18.7507 1.79013 18.6982 1.52278 18.5955 1.2732C18.4928 1.02363 18.342 0.796718 18.1516 0.605429C17.9613 0.41414 17.7351 0.262219 17.486 0.158339C17.237 0.0544596 16.9699 0.000655811 16.7 0V0ZM12.84 13.06C12.84 13.06 12.48 12.625 12.18 12.25C12.9049 12.0794 13.546 11.6578 13.99 11.06C13.6302 11.2995 13.2444 11.4974 12.84 11.65C12.3748 11.8486 11.8883 11.9929 11.39 12.08C10.5336 12.2378 9.6552 12.2344 8.80001 12.07C8.29793 11.9718 7.80588 11.8278 7.33001 11.64C6.92953 11.4857 6.54723 11.2879 6.19001 11.05C6.61795 11.6353 7.23696 12.0527 7.94001 12.23C7.64001 12.605 7.27001 13.06 7.27001 13.06C6.67598 13.076 6.08711 12.9458 5.55526 12.6807C5.0234 12.4157 4.56486 12.0239 4.22001 11.54C4.25246 9.51271 4.74484 7.51926 5.66001 5.71C6.46536 5.07749 7.44721 4.7106 8.47001 4.66L8.57001 4.785C7.60955 5.02394 6.71338 5.47117 5.94501 6.095C5.94501 6.095 6.16501 5.97 6.53501 5.805C7.25411 5.47861 8.02019 5.26769 8.80501 5.18C8.86099 5.16841 8.91787 5.16172 8.97501 5.16C9.64288 5.0681 10.3193 5.05635 10.99 5.125C12.0463 5.24563 13.0689 5.57176 14 6.085C13.2688 5.49196 12.4201 5.0608 11.51 4.82L11.65 4.66C12.6728 4.7106 13.6547 5.07749 14.46 5.71C15.3752 7.51926 15.8676 9.51271 15.9 11.54C15.5524 12.0235 15.0919 12.4147 14.5586 12.6796C14.0252 12.9445 13.4353 13.0751 12.84 13.06Z" fill="white"></path>
                        </g>
                        <defs>
                           <clipPath id="clip0_2620_21933">
                              <rect width="20" height="20" fill="white"></rect>
                           </clipPath>
                        </defs>
                     </svg>
                     Join our discord
                  </a>
               </div>
            </div>
         </div>
      </section>
      <footer>
         <nav class="flex between">
            <div class="mode flex">
               <div id="light" class="caption2 flex">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <circle cx="10" cy="10" r="3" stroke="#22252D" stroke-width="2"></circle>
                     <line x1="10" y1="3" x2="10" y2="4" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                     <line x1="4" y1="10" x2="3" y2="10" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                     <line x1="17" y1="10" x2="16" y2="10" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                     <line x1="10" y1="16" x2="10" y2="17" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                     <line x1="14.8779" y1="4.97824" x2="14.1708" y2="5.68535" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                     <line x1="5.6854" y1="5.68555" x2="4.97829" y2="4.97844" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                     <line x1="14.8778" y1="14.8779" x2="14.1707" y2="14.1708" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                     <line x1="5.68555" y1="14.1706" x2="4.97844" y2="14.8777" stroke="#22252D" stroke-width="2" stroke-linecap="round"></line>
                  </svg>
                  Light
               </div>
               <div id="dark" class="caption2 flex active">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M15.9137 11.756C14.9837 13.6775 13.0162 15 10.7419 15C7.57072 15 5 12.4292 5 9.25815C5 6.9838 6.32247 5.01625 8.244 4.08635C8.28236 8.30503 11.6949 11.7176 15.9137 11.756Z" stroke="#22252D" stroke-width="2"></path>
                  </svg>
                  Dark
               </div>
            </div>
            <menu class="flex">
               <li><a href="https://discord.gg/BdxTxuZqds" target="_blank" class="base2">Connect With Us</a></li>
               <!-- <li>
                  <a href="#" class="base2">
                     ToastyFinance Audit
                     <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.56456 4C3.55546 4.15313 2.66699 5.295 2.66699 8.65746C2.66699 12.2943 3.70634 13.3333 7.34407 13.3333C10.6903 13.3333 11.8379 12.4541 12.0003 9.69655" stroke="#494E5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8.66699 7.33332L13.3337 2.66666" stroke="#494E5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M9.33398 2.66666H13.334V6.66666" stroke="#494E5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                     </svg>
                  </a>
               </li> -->
            </menu>
            <!-- <a href="#" class="btn full base2 sm">Launch App</a> -->
         </nav>
         <div class="bottom flex between">
            <p class="caption2">© Toasty Finance, 2022</p>
            <menu class="flex">
               <li>
                  <a href="https://twitter.com/toasty_finance" target="_blank">
                     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.539 22.5C16.596 22.5 21.5505 14.9955 21.5505 8.499C21.5505 8.289 21.5505 8.076 21.5415 7.866C22.5061 7.16773 23.3386 6.30323 24 5.313C23.099 5.71028 22.1441 5.97211 21.1665 6.09C22.1963 5.47446 22.9676 4.50595 23.337 3.3645C22.3695 3.93769 21.3105 4.34006 20.2065 4.554C19.4643 3.76354 18.4821 3.23988 17.4121 3.06414C16.3422 2.8884 15.2441 3.07038 14.288 3.58191C13.3319 4.09343 12.5712 4.90595 12.1237 5.89359C11.6761 6.88124 11.5668 7.9889 11.8125 9.045C9.85461 8.94683 7.93922 8.4382 6.19056 7.55212C4.4419 6.66603 2.89903 5.42227 1.662 3.9015C1.03401 4.98613 0.842361 6.2691 1.12597 7.4899C1.40958 8.7107 2.14718 9.7778 3.189 10.4745C2.40831 10.448 1.64478 10.2383 0.96 9.8625V9.93C0.961346 11.0662 1.35496 12.1671 2.07431 13.0466C2.79366 13.9262 3.79462 14.5303 4.908 14.757C4.48539 14.8734 4.04884 14.9315 3.6105 14.9295C3.30148 14.9304 2.99307 14.9018 2.6895 14.844C3.00418 15.8221 3.61691 16.6773 4.44187 17.2897C5.26683 17.9022 6.2627 18.2413 7.29 18.2595C5.54483 19.6302 3.3891 20.3736 1.17 20.37C0.778981 20.3717 0.388235 20.3491 0 20.3025C2.25227 21.7384 4.86795 22.5008 7.539 22.5V22.5Z" fill="#494E5B"></path>
                     </svg>
                  </a>
               </li>
               <li>
                  <a href="https://discord.gg/BdxTxuZqds" target="_blank">
                     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2620_21847)">
                           <path d="M20.3178 4.36056C18.7615 3.64636 17.1194 3.13662 15.4323 2.84406C15.417 2.84149 15.4013 2.84371 15.3873 2.85042C15.3733 2.85714 15.3618 2.86802 15.3543 2.88156C15.1428 3.25656 14.9088 3.74706 14.7453 4.13106C12.9267 3.85507 11.0768 3.85507 9.25825 4.13106C9.07587 3.70329 8.86955 3.28613 8.64025 2.88156C8.63256 2.86816 8.62099 2.85741 8.60707 2.85072C8.59314 2.84403 8.57752 2.8417 8.56225 2.84406C6.87475 3.13506 5.23225 3.64506 3.67675 4.36056C3.66344 4.36564 3.65231 4.37518 3.64525 4.38756C0.534254 9.03606 -0.319247 13.5706 0.0992534 18.0481C0.100753 18.0691 0.114253 18.0901 0.130753 18.1036C1.94234 19.4455 3.96864 20.47 6.12325 21.1336C6.13847 21.1384 6.15481 21.1382 6.16992 21.1331C6.18503 21.1279 6.1981 21.1181 6.20725 21.1051C6.66925 20.4751 7.08025 19.8106 7.43425 19.1116C7.44163 19.0972 7.44416 19.0808 7.44146 19.0648C7.43875 19.0489 7.43096 19.0342 7.41925 19.0231C7.4115 19.0157 7.40231 19.0101 7.39225 19.0066C6.746 18.7582 6.1201 18.4598 5.52025 18.1141C5.5035 18.1046 5.49104 18.089 5.48545 18.0706C5.47987 18.0521 5.48159 18.0323 5.49025 18.0151C5.49536 18.0039 5.50308 17.9941 5.51275 17.9866C5.63875 17.8921 5.76475 17.7931 5.88475 17.6941C5.89535 17.6855 5.90807 17.6801 5.92155 17.6782C5.93502 17.6764 5.94875 17.6782 5.96125 17.6836C9.88975 19.4776 14.1423 19.4776 18.0228 17.6836C18.0357 17.6779 18.05 17.676 18.064 17.6778C18.078 17.6797 18.0912 17.6853 18.1023 17.6941C18.2223 17.7931 18.3483 17.8921 18.4743 17.9866C18.4845 17.994 18.4927 18.0039 18.4981 18.0153C18.5036 18.0267 18.5061 18.0393 18.5055 18.0519C18.5049 18.0646 18.5012 18.0768 18.4947 18.0877C18.4882 18.0985 18.4791 18.1076 18.4683 18.1141C17.8698 18.463 17.2431 18.761 16.5948 19.0051C16.5844 19.0088 16.575 19.0148 16.5672 19.0226C16.5595 19.0303 16.5535 19.0397 16.5498 19.0501C16.5463 19.0601 16.5449 19.0707 16.5457 19.0813C16.5464 19.0918 16.5494 19.1022 16.5543 19.1116C16.9143 19.8091 17.3268 20.4751 17.7798 21.1051C17.7889 21.1181 17.802 21.1279 17.8171 21.1331C17.8322 21.1382 17.8485 21.1384 17.8638 21.1336C20.022 20.4721 22.0516 19.4474 23.8653 18.1036C23.8743 18.0973 23.8819 18.089 23.8873 18.0794C23.8928 18.0698 23.896 18.0591 23.8968 18.0481C24.3978 12.8716 23.0583 8.37456 20.3478 4.38906C20.345 4.38248 20.3409 4.37654 20.3358 4.37163C20.3306 4.36672 20.3245 4.36295 20.3178 4.36056V4.36056ZM8.02075 15.3211C6.83725 15.3211 5.86375 14.2351 5.86375 12.9031C5.86375 11.5696 6.81925 10.4836 8.02075 10.4836C9.23125 10.4836 10.1958 11.5786 10.1778 12.9031C10.1778 14.2351 9.22225 15.3211 8.02075 15.3211ZM15.9948 15.3211C14.8128 15.3211 13.8378 14.2351 13.8378 12.9031C13.8378 11.5696 14.7933 10.4836 15.9948 10.4836C17.2053 10.4836 18.1713 11.5786 18.1518 12.9031C18.1518 14.2351 17.2053 15.3211 15.9948 15.3211Z" fill="#494E5B"></path>
                        </g>
                        <defs>
                           <clipPath id="clip0_2620_21847">
                              <rect width="24" height="24" fill="white"></rect>
                           </clipPath>
                        </defs>
                     </svg>
                  </a>
               </li>
            </menu>
         </div>
      </footer>
      <script src="static/js/custom.js"></script>
      <script src="static/js/script.js"></script>

   </body>
</html>
